
:root {
    --size-medium: 8px;
}

.row {
    display: flex;
    flex-direction: row
}

.ma-medium {
    margin: var(--size-medium, 8px);
}

.pile {
    width: 125px;
    height: 175px;
    border: 2px dashed black;
    border-radius: 4px;
}

